@{
    Layout = "_Layout";
}

@{
    if (ViewBag.Successfull)
    {
        <div>Регистрация успешно завершена!</div>
    }
    else
    {
        <div>Упс! Возникли проблемы при регистрации пользователя</div>
    }
}