.idea/
TestProject/bin/
TestProject/obj/
WebApplication/bin/
WebApplication/obj/
*/mailsettings.json

TestProject/appsettings.json
WebApplication/appsettings.json

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile