Source/.idea
Source/TestProject/bin
Source/TestProject/obj
Source/WebApplication/bin
Source/WebApplication/obj

Source/WebApplication/mailsettings.json
Source/WebApplication/appsettings.json
Source/TestProject/appsettings.json

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile