@{
    Layout = "_Layout";
    ViewData["Title"] = "Вход в профиль";
    ViewData["HideBar"] = true;
}

<div class="container">
    <form action="../Home/Login">
        <h2>Вход</h2>
        <div>Имя пользователя:<br> <input type="text" name="name" autocomplete="false"/></div>
        <div>Пароль:<br> <input type="password" name="pass" autocomplete="false"/></div>
        <input class="btn btn-dark" type="submit"/>
    </form>
</div>